.flex-grid {
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    flex-wrap: wrap;

    @include breakpoint('xlarge') {
        max-width: 1400px;
    }

    @include breakpoint('small-big') {
    	display: block;
    	padding: 0 20px;
  	}

    @include breakpoint('small-small') {
        padding: 0 10px;
    }
}

.col {
    box-sizing: border-box;
    flex: 1;
    margin: 0 20px;

    @include breakpoint('small-big') {
        margin: 0 0px;
    }
}

.col-full {
    width: 100%;
    margin: 0 20px;

    @include breakpoint('small-big') {
        margin: 0 0px;
    }
}

.col-left {
    width: 50%;
    margin: 0 20px;
}


