.flex-grid {
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    flex-wrap: wrap;

    @include breakpoint('xlarge') {
        max-width: 1400px;
    }
}

.col-2 {
    box-sizing: border-box;
    flex-basis: 48%;

    @include breakpoint('small-big') {
        flex-basis: 96%;
    }
}

.col-3 {
    flex-basis: 31%;

    @include breakpoint('small-big') {
        flex-basis: 96%;
    }
}

.col {
    margin: 0 1%;
    
     @include breakpoint('small-big') {
        margin: 0 4%;
    }
}


.col-4 {
    flex-basis: 23%;
    margin: 0 1%;

    @include breakpoint('small-big') {
        flex-basis: 46%;
    }
    
}

.col-full {
    flex-basis: 98%;
    margin: 0 1%;

     @include breakpoint('small-big') {
        flex-basis: 96%;
        margin: 0 4%;
    }
}




