body {
	font-family: 'News Cycle', sans-serif;
	color: map-get($colors, text);
	font-size: 18px;

	@include breakpoint('small') {
		font-size: 16px;

	}

	a {
		color: map-get($colors, text);
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

h1 {
    font-size: 4rem;

    @include breakpoint('medium') {
		font-size: 3.7rem;
	}

	@include breakpoint('small') {
		font-size: 3.4rem;
	}
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
}

