.background-wave {
 	animation: wave 4s linear infinite;
	transform: translate(-2px, -2px);
}
  
@keyframes wave {
	25% {
		transform: translate(1px, -2px); 
	}

	50% {
		transform: translate(-2px, 2px); 
	}

	75% {
		transform: translate(1px, 2px); 
	}

	100% {
		transform: translate(-2px, -2px); 
	}
}