.cloud-front {
	opacity: 1;
	transition: 1s easy all;
	animation: cloud-front 2.6s ease infinite;
}

@keyframes cloud-front {
	12% {
		opacity: 0.9;
	}

	20% {
		opacity: 1;
	}

	50% {
		transform: translateX(5px);
	}

	90% {
		opacity: 1;
	}

	95% {
		opacity: 0.8;
	}
}

.cloud-back {
	opacity: 1;
	transform: translateX(0px);
	animation: cloud-back 3s ease infinite;
}

@keyframes cloud-back {
	25% {
		opacity: 0.8;
	}

	35% {
		opacity: 1;
	}

	50% {
		transform: translateX(-3px);
	}

	90% {
		opacity: 1;
	}

	95% {
		opacity: 0.8;
	}
}

//flash
.flash {
	opacity: 1;
}

.flash-1 {
	animation: flash-1 1s ease infinite;
}

@keyframes flash-1 {
	50% {
		opacity: 0.5;
	}
}

.flash-2 {
	animation: flash-2 2s ease infinite;
}

@keyframes flash-2 {
	25% {
		opacity: 0;
	}

	35% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	95% {
		opacity: 0.6;
	}
}

.flash-3 {
	animation: flash-3 2s ease infinite 2s;
}

@keyframes flash-3 {
	35% {
		opacity: 0;
	}

	45% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	95% {
		opacity: 0.6;
	}
}

//water
.water {
	opacity: 1;
} 

.water-1 {
	animation: water-1 1s ease infinite;
}

@keyframes water-1 {
	50% {
		opacity: 0;
		transform: translate(2px, -6px);
	}
}

.water-2 {
	animation: water-2 1.2s ease infinite;
}

@keyframes water-2 {
	60% {
		opacity: 0;
		transform: translate(2px, -6px);
	}
}

.water-3 {
	animation: water-3 1.1s ease infinite;
}

@keyframes water-3 {
	50% {
		opacity: 0;
		transform: translate(2px, -6px);
	}
}

.water-4 {
	animation: water-4 1s ease infinite;
}

@keyframes water-4 {
	50% {
		opacity: 0;
		transform: translate(2px, -2px);
	}
}

.water-5 {
	animation: water-5 1s 3s ease infinite;
}

@keyframes water-5 {
	70% {
		opacity: 0;
		transform: translate(2px, -6px);
	}
}

.water-6 {
	animation: water-6 1.3s ease infinite;
}

@keyframes water-6 {
	45% {
		opacity: 0;
		transform: translate(2px, -4px);
	}
}

.water-7 {
	animation: water-7 1.3s ease infinite;
}

@keyframes water-7 {
	50% {
		opacity: 0;
		transform: translate(3px, -4px);
	}
}




