.btn {
	background: none;
	border-radius: 100px;
	border: map-get($colors, first) 2px solid;
	color: map-get($colors, first);
	display: block;
	height: 50px;
	outline: 0;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.08s linear;
  	overflow:hidden;

  	@include breakpoint('medium') {
		padding: 10px 16px;
  	}
  	
  	@include breakpoint('small') {
		height: 30px;
		padding: 0;
		border: none;
		border-radius: 0;
	}

	span {
		z-index: 1;
		position: relative;
	}
	

	&:before {
		border-radius:100px;
		content: "";
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    display: block;
	    background: map-get($colors,first);
	    transform: translateY(30px) scale(0);
	    transition-duration: 0.3s;
	    transition-timing-function: ease-out; 
	}

	&:active, &:hover {
		color: white;
		border-color: white;

		@include breakpoint('small') {
			border-bottom: map-get($colors, first) 2px solid;
			color: map-get($colors, first);
			border-radius: 0;
		}

		&:before {
			transform:translateY(0) scale(1);

			@include breakpoint('small') {
				transform:translateY(0) scale(0);

			}
		}
	}
}

.button-small {
	@include sizes(50px);
	padding: 10px;
	border: white 2px solid;
}



