.line-rigth {
	width: 4px;
	float: left;
	height: 60px;
	background: map-get($colors, first);
	margin: 5px 10px 0px 0;

	@include breakpoint('>=small<=medium') {
		height: 50px;
		margin-top: 15px;
	}

	@include breakpoint('small') {
		height: 60px;
	}

}

.line-counter {
	margin: 20px 10px 0px 0;
}