.box-title {
	padding-top: 20px;

	@include breakpoint('medium-small') {
		padding-top: 10px;
	}

	.big-title {
		color: map-get($colors, second);
		font-size: 5.5rem;
		text-align: center;
		line-height: 60px;
		position: relative;
		z-index: 1;
		top: 10px;

		@include breakpoint('medium') {
			font-size: 5rem;
		}

		@include breakpoint('medium-small') {
			font-size: 3.9rem;
			top: 20px;
		}

		@include breakpoint('small') {
			text-align: left;
			font-size: 4.5rem;
			top: 18px;
		}
	}
}

.title {
	font-size: 3rem;
	margin-bottom: 20px;
	
	@include breakpoint('xlarge') {
		font-size: 3.1rem;
	}

    @include breakpoint('medium') {
		font-size: 2.6rem;
	}

	@include breakpoint('small') {
		font-size: 2.2rem;
	}
}

.subtitle {
	font-size: 2rem;
	margin-bottom: 8px;
	line-height:1.3;

	@include breakpoint('xlarge') {
		font-size: 2.1rem;
	}

    @include breakpoint('medium') {
		font-size: 1.8rem;
	}

	@include breakpoint('small') {
		font-size: 1.5rem;
	}
	
}