
.title {
	padding-top: 20px;

	@include breakpoint('medium-small') {
		padding-top: 10px;

	}

	.big-title {
		color: map-get($colors, second);
		font-size: 5.5rem;
		text-align: center;
		line-height: 60px;
		position: relative;
		z-index: 1;
		top: 10px;

		@include breakpoint('medium') {
			font-size: 5rem;
		}

		@include breakpoint('medium-small') {
			font-size: 3.9rem;
			top: 20px;
		}

		@include breakpoint('small') {
			text-align: left;
			font-size: 4.5rem;
			top: 18px;
		}
	}
}