.consequences {
	background: linear-gradient(map-get($colors, second), lighten-color(map-get($colors, second), 10%));
	padding-bottom: 0;
	padding-top: 60px;
	
	.title {
		margin-bottom: 15px;
	}
}

.wrap-consecuences {
	margin: 50px 0;

	@include breakpoint('>=small<=medium') {
		margin: 40px 0;
	}
}

.description {
	margin-bottom: 20px;
}

.building {
	bottom: -100px;

	@include breakpoint('xlarge') {
		bottom: -140px;
	}

	@include breakpoint('medium') {
		bottom: -50px;
	}

	@include breakpoint('small') {
		display: none;
	}
}

.building-mobile {
	display: none;

	@include breakpoint('small') {
		display: block;
		bottom: -50px;
	}
}

//flood
.flood {
	width: 320px;
	position: relative;
	top: -20px;

	@include breakpoint('small-big') {
		margin:20px 0;
		width: 300px;
	}
}

// ice
.wrap-ices {
	position: relative;
    top: -30px;
    z-index: 0;
}

.ice-bear {
	position: relative;
	display: block;
    margin: 0 auto;
}

.ice-up {
	z-index: 1;
	@include breakpoint('small') {
		width: 280px;
	}
}

.ice-down {
	top: -50px;
	z-index: 0;

	@include breakpoint('small') {
		width: 280px;
	}
}

.bear-up {
	width: 140px;
	z-index: 1;
	position: relative;

	@include breakpoint('small') {
		width: 120px;
	}
}

//storm 
.storm {
	width: 320px;

	@include breakpoint('small') {
		width: 280px;
	}
}


