.counter {
	background: linear-gradient(map-get($colors, third), map-get($colors, second));
}

.counter-title {

	@include breakpoint('small') {
		font-size: 4rem;
	}

}
.counter-length {
	font-size: 1rem;
	font-weight: 400;
	padding-left: 10px;	
}