.counter {
	background: linear-gradient(map-get($colors, third), lighten-color(map-get($colors, second), 10%));
	padding-bottom: 150px;

	@include breakpoint('small-big') {
		padding-bottom: 80px;
	}
}

.counter-title {
	@include breakpoint('small-big') {
		font-size: 4rem;
	}
}

.counter-length {
	font-size: 1rem;
	font-weight: 400;
	padding-left: 10px;	
}

.counter-list {
	@include breakpoint('small-big') {
		margin-bottom: 20px;
	}
}

.background-wave {
	width: 100%;
	overflow-x: hidden;
	position: relative;
	z-index: 1;
	top: 12px;
	box-sizing: border-box;
}



