.counter {
	background: linear-gradient(map-get($colors, third), map-get($colors, second));
	padding-bottom: 150px;
}

.counter-title {
	@include breakpoint('small=>') {
		font-size: 4rem;
	}
}

.counter-length {
	font-size: 1rem;
	font-weight: 400;
	padding-left: 10px;	
}

.counter-list {
	@include breakpoint('small=>') {
		margin-bottom: 20px;
	}
}