.ilustration {
	background: map-get($colors, second);
	padding: 150px 0;


	@include breakpoint('medium') {
		padding: 100px 0;
	}

	@include breakpoint('small-big') {
		padding: 60px 0;
	}

}

.wrap-img-bears {
	display: inline-block;
}

.bears {
	width: 500px;

	@include breakpoint('small-big') {
		width: 300px;
	}

	@include breakpoint('small-small') {
		width: 280px;
	}
}