.ilustration {
	background: map-get($colors, second);
	padding: 150px 0;
}

.wrap-img-bears {
	display: inline-block;
}

.bears {
	width: 500px;

	@include breakpoint('small-big') {
		width: 360px;
	}

	@include breakpoint('small-small') {
		width: 280px;
	}
}