.temperature {
	color: map-get($colors, text-dark);
}

.list-statics {
	padding: 130px 0 50px;

	@include breakpoint('small-big') {
		padding: 40px 0 0;
	}
}

.img-ice {
	bottom: -20px;
}

.img-ice-big {
	bottom: -50px;

	@include breakpoint('xlarge') {
		bottom: -60px;
	}

	@include breakpoint('medium') {
		bottom: -35px;
	}

	@include breakpoint('small') {
		display: none;
	}
}

.img-ice-big-mobile {
	display: none;

	@include breakpoint('small') {
		display: block;
		bottom: -16px;
	}
}



