.what-to-do {
	background: linear-gradient(map-get($colors, second), map-get($colors, third));
	
	&-title {
		margin-top: 0;
	}
	
	&-list {
		padding: 80px 0;
	}

	&-description {
		text-align: center;
		margin-top: 20px;

		p {
			display: inline-block;
			vertical-align: middle;
		}
	}

}

.ocean {
	top: -110px;

	@include breakpoint('xlarge') {
		top: -140px;
	}

	@include breakpoint('small') {
		top: -100px;
	}

	@include breakpoint('small-small') {
		top: -50px;
	}

}

.wrap-img-item {
	width: 100%;
	text-align: center;
}

