.why {
	background: linear-gradient(lighten-color(map-get($colors, second), 10%), map-get($colors, second));
}

.list-factors {
	margin: 50px 0;

	@include breakpoint('xlarge') {
		margin: 60px 0;
	}
}

.wave-small {
	height: auto;
	margin-bottom: 50px;
	position: relative;
	width: 330px;
	z-index: 2;

	@include breakpoint('medium') {
		margin-bottom: 90px;
	}

	@include breakpoint('small-big') {
		width: 300px;
	}

	@include breakpoint('small-small') {
		width: 280px;
	}
}

.bubbles {
	position: absolute;
	top: 400px;
	right: 0;
	z-index: 1;
	width: 100%;

	@include breakpoint('medium') {
		top: 500px;
	}

	@include breakpoint('small-big') {
		display: none;
	}
}

.bubbles-m {
	display: none;

	@include breakpoint('small-big') {
		display: block;
		position: absolute;
		top: 500px;
		width: 100%;
		z-index: 1;
	}

}


